.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 4;
}

.navbar-top-background {
  position: fixed;
  background-color: #FFFDD0;
  height: 145px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.navbar-top-border {
  position: fixed;
  background-color: #0000FF;
  top: 145px;
  height: 2px;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.navbar-container {
  position: fixed;
  height: 145px;
  width: 100%;
  top: 35px;
  left: 25px;
  z-index: 3;
}

.navbar-container-hamburger {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  margin: 5px;
  cursor: pointer;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.navbar-container-hamburger span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0000FF;
  transition: all 0.4s;
}

.navbar-container-hamburger span:nth-of-type(1) {
  visibility: visible;
  opacity: 1;
}

.navbar-container-hamburger span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.navbar-container-hamburger span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.navbar.active .navbar-container-hamburger span:nth-of-type(1) {
  visibility: hidden;
  opacity: 0;
}

.navbar.active .navbar-container-hamburger span:nth-of-type(2) {
  transform: rotateZ(45deg);
  top: 45%;
  left: calc(50% - 19px);
}

.navbar.active .navbar-container-hamburger span:nth-of-type(3) {
  transform: rotateZ(-45deg);
  top: 45%;
  left: calc(50% - 19px);
}

.navbar-container-logo {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 3;
  transition: all 0.4s;
  transform-origin: top left;
}

.navbar-container-logo-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.navbar-container-logo-cream {
  background-image: url("/public/media/logos/cream/Logo-full-3d.svg");
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.navbar-container-logo-blue {
  background-image: url("/public/media/logos/blue/Logo-full-3d.svg");
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.navbar-container-logo-blue-no-text {
  background-image: url("/public/media/logos/blue/Logo-full-3d-hidden.svg");
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.navbar-background {
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: #0000FF;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.navbar-menu {
  position: absolute;
  visibility: visible;
  opacity: 1;
  height: auto;
  width: 250px;
  top: 160px;
  z-index: 2;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}

.navbar-menu-items {
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.navbar-menu-items li {
  padding: 25px 0 25px 25px;
  text-align: right;
  pointer-events: none;
}

.navbar-menu-items a {
  color: #FFFDD0;
  text-decoration: none;
  padding: 25px 25px 25px 110px;
  font-size: x-large;
  pointer-events: auto;
}

.navbar-menu-items li:hover {
  background-color: #FFFDD040;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px) opacity(0);
  background-color: #FFFDD040;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 1280px) {
  /* Always */
  .navbar-top-background {
    visibility: visible;
    opacity: 1;
    transition: none;
  }

  .navbar-container-hamburger {
    visibility: visible;
    opacity: 1;
  }

  /* Navbar not active */
  .navbar-container-logo {
    transform: scale(1.2);
  }

  .navbar-container-logo-cream {
    visibility: hidden;
    opacity: 0;
  }

  .navbar-container-logo-blue {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menu {
    visibility: hidden;
    opacity: 0;
    transition: none;
  }

  .navbar-background {
    transform: translateX(-100%);
  }

  /* Navbar active */
  .navbar-container {
    transform: translateY(-10px);
  }

  .navbar.active .navbar-container-hamburger span {
    background-color: #FFFDD0;
  }

  .navbar.active .navbar-container-logo {
    transform: scale(1);
  }

  .navbar.active .navbar-container-logo-cream {
    visibility: visible;
    opacity: 1;
  }

  .navbar.active .navbar-container-logo-blue {
    visibility: hidden;
    opacity: 0;
  }

  .navbar.active .navbar-menu {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    visibility: visible;
    opacity: 1;
  }

  .navbar.active .navbar-background {
    transform: translateX(0);
  }

  .navbar.active .navbar-blur {
    backdrop-filter: blur(5px) opacity(1);
    visibility: visible;
    opacity: 1;
  }

  /* When scrolled */
  .navbar.scroll .navbar-top-border {
    transform: translateX(0);
  }

  .navbar.scroll .navbar-container-logo {
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  /* Always */
  .navbar-top-background {
    height: 80px;
    transition: none;
  }

  .navbar-top-border {
    top: 80px;
  }

  .navbar-container {
    top: 15px;
    left: 10px;
  }

  .navbar-container-hamburger {
    top: 5px;
    left: 3px;
  }

  /* Navbar active */
  .navbar.active .navbar-container-logo {
    top: 15px;
    left: 10px;
    transform: scale(1);
  }

  /* When scrolled */
  .navbar.scroll .navbar-container-logo {
    left: calc(50% - 100px);
    transform: scale(0.7);
  }

  .navbar.scroll .navbar-container-logo-blue {
    visibility: hidden;
    opacity: 0;
  }

  .navbar.scroll .navbar-container-logo-blue-no-text {
    visibility: visible;
    opacity: 1;
  }

  /* Navbar active and scroll*/
  .navbar.active.scroll .navbar-container-logo {
    top: 15px;
    left: 10px;
    transform: scale(1);
  }
}
