.navbar {
  position: Fixed;
  height: 100%;
  width: 250px;
  justify-content: top;
  align-items: left;
  font-size: 1.2rem;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000ff;
  z-index: -1;
  left: 0;
  transition: all 0.4s ease-out;
  /* box-shadow: 0 -15px 15px 15px #1a1a1a80; */
  z-index: 0;
}

.navbar-top {
  position: relative;
  height: 40%;
  margin-right: 15px;
}

.navbar-top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background-color: #fffdd0;
  box-shadow: 0 0px 30px 80px #fffdd0;
  transition: none;
  z-index: -1;
}

.navbar-logo {
  background-image: url('/public/media/logos/cream/Logo-full-3d.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffdd0;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0;
  left: 28px;
  transition: all 0.4s ease-out;
  z-index: 0;
}

.menu-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

.menu-icon span:nth-of-type(1) {
  opacity: 1;
}

.menu-icon span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.menu-icon span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.menu-icon.active span:nth-of-type(1) {
  opacity: 0;
}

.menu-icon.active span:nth-of-type(2) {
  transform: rotateZ(45deg);
  top: 45%;
  left: calc(50% - 19px);
}

.menu-icon.active span:nth-of-type(3) {
  transform: rotateZ(-45deg);
  top: 45%;
  left: calc(50% - 19px);
}

.navbar-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.navbar-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: 60%;
  opacity: 1;
}

.navbar-item {
  width: 100%;
  list-style-type: none;
  transition: all 0.2s ease-out;
}

.navbar-links {
  color: #fffdd0;
  display: flex;
  justify-content: end;
  text-decoration: none;
  padding: 22px 30px;
  height: 100%;
  font-size: x-large;
  transition: all 0.2s ease-out;
}

.navbar-links:hover {
  background-color: #fffdd030;
}

@media screen and (max-width: 1280px) {
  .menu-icon span {
    background-color: #0000ff;
  }

  .menu-icon.active span {
    background-color: #fffdd0;
  }

  .navbar-background, .navbar-container {
    left: -100%;
  }

  .navbar-background.active {
    left: 0;
  }
  
  .navbar-container.active {
    left: 0;
  }

  .navbar-menu {
    visibility: hidden;
    opacity: 0;
  }

  .navbar-menu.active {
    visibility: visible;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
  }

  .navbar-logo {
    background-image: url('/public/media/logos/blue/Logo-full-3d.svg');
    top: 8px;
    left: 10px;
    height: 130px;
    width: 260px;
  }

  .navbar-logo.active {
    background-image: url('/public/media/logos/cream/Logo-full-3d.svg');
    left: 28px;
    height: 200px;
    width: 200px;
  }

  .menu-icon {
    display: block;
  }
}
