:root {
  --primary: #0000FF;
  --primary_highlight: #0000FF90;
  --fond: #FFFDD0;
  --fond_transparent: #FFFDD030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--fond);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 20rem;
  min-height: 40rem;
  -ms-overflow-style: none;
}

body.no-scroll {
  overflow-y: hidden;
}

body.no-scroll #root {
  overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#featured-projects:hover #featured-projects-container {
  animation-play-state: paused;
}
