* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFDD0;
  margin-top: 0;
  margin-left: 250px;
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

@media screen and (max-width: 1280px) {
  body {
    margin-left: 0;
  }
}

h1 {
  font-family: 'Archivo', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.blob {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.blob-1 {
  background-image: url("/public/media/logos/blue/blob_full.svg");
}

.blob-2 {
  background-image: url("/public/media/logos/blue/blob_full_2.svg");
}

.blob-3 {
  background-image: url("/public/media/logos/blue/blob_full_3.svg");
}

.blob-4 {
  background-image: url("/public/media/logos/blue/blob_full_4.svg");
}

.blob-5 {
  background-image: url("/public/media/logos/blue/blob_full_4.svg");
}